/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.title h1 {
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    /* font-style: italic; */
}

.title img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.grid {
    display: grid;
}

.projects {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin: 2rem 0;
}

main a {
    padding: 24px;
    margin: 5px;
    border-radius: 5px;
    background: #FFC0C7;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

main a:hover {
    background: #04AA6D;
    color: white;
}